body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif
}

.w3-row-padding img {
    margin-bottom: 12px
}

.main-title {
    margin-left: 120px;
}

.main-subtitle {
    margin-left: 120px;
}

.page-subtitle {
    text-align: center;
}

.main-photo {
    max-width: 100%;
    max-height: 615px;
    margin-left: 120px;
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
    width: 120px;
    background: #222;
}

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
    margin-left: 120px;
    overflow: none;
}

.fa-facebook-official:hover {
    color: #3b5998;
    cursor: pointer;
}

.fa-instagram:hover {
    color: #bc2a8d;
    cursor: pointer;
}

.fa-twitter:hover {
    color: #1da1f2;
    cursor: pointer;
}

.mobile-nav-button.shorter-text {
    max-width: 13%;
}

.mobile-nav-button.longer-text {
    max-width: 29%;
}

.fa-linkedin:hover {
    color: #0077B5;
    cursor: pointer;
}

.fa-github:hover {
    color: #fff;
    cursor: pointer;
}

.page-content {
    margin-top: 40px;
}

.desktop-navbar {
    margin-top: -40px;
    overflow: hidden;
}

.home-header {
    padding-bottom: 32px;
}

.footer .home-link {
    cursor: pointer;
    margin-left: 120px;
}

.navbar-links {
    margin-left: 120px;
}

.about-me-container {
    margin-left: 100px;
    margin-right: 100px;
}

.about-me-photo {
    max-width: 45%;
}

.about-me-text {
    float: right;
}

.page-header {
    text-align: center;
    font-weight: 400;   
    font-size: 55px;
}

.cv-picture {
    max-width: 100%;
}

.cv-picture.spinner {
    height: 300px;
}

.contact-section {
    border: 3px #fff solid;
    padding: 10px;
}

.contact-section-text {
    text-align: center;
}

.desktop-nav-button.active {
    background-color: #000;
}

@media only screen and (max-width: 992px) {
    .about-me-photo-desktop {
        display: none;
    }

    .main-photo {
        max-width: 70%;
    }
}

@media only screen and (max-height: 456px) {
    .desktop-navbar i {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .w3-jumbo.main-title {
        margin-left: 0;
        font-size: 40px !important;
    }

    .main-photo {
        max-width: 100%;
    }
    
    .main-subtitle {
        margin-left: 0;
    }

    .main-photo {
        margin-left: 0;
    }

    #main {
        margin-left: 0
    }

    .about-me-container {
        margin-left: 5px;
        margin-right: 5px;
    }

    .footer .home-link {
        margin-left: 0px;
    }
    
    .navbar-links {
        margin-left: 0px;
    }

    .cv-picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .cv-picture.spinner {
        height: auto;
    }

    .cv-picture-container {
        padding-top: 5px;
    }

    .about-me-photo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
    }

    .about-me-photo-mobile {
        margin-left: 20%;
    }

    .contact-section {
        margin-bottom: 10px;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background: #222;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }

      .mobile-navbar.open .dropdown-links{
          display: block;
      }
      .mobile-navbar.closed .dropdown-links {
          display: none;
      }

      .mobile-nav-link {
          background: #222;
          text-align: center;
      }
      .mobile-nav-link.first {
        background: #222;
        text-align: left;
      }
}
